.row {
  /* background-color: yellow; */
  /* max-width: 976px; */
  
  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters-small {
    margin-right: -45px;
  }

  &--gutters > div {
    /* magkakaroon ng new line kapag nagdagdag ng padding kasi sobra na sa 100% ng page width */
    padding-right: 65px;
    /* box-sizing para sa hindi mag-new line*/
    box-sizing: border-box;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  &__b-margin-until-medium {
    margin-bottom: 0rem;
  }

  @mixin atSmall {
    &__small-6--left {
      float: left;
      width: 50%;
      text-align: right;
      padding-right: 2px;
    }

    &__small-6--right {
      float: left;
      width: 50%;
      text-align: left;
      padding-left: 2px;
    }
  }

  /* kapag > 800px magiging 2 columns na */
  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0;
    }
    
    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }

    &__medium-8--smaller {
      width: 63%;
    }

  }

  @mixin atLarge {

    &__b-margin-until-large {
      margin-bottom: 0;
    }
    
    &__large-4 {
      float: left;
      width: 33.33%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-8 {
      float: left;
      width: 66.66%;
    }

    &__large-8--smaller {
      width: 63%;
    }

  }

  /* Begin Equal Height Rules */
  .flexbox &--equal-height-at-medium {

    & > div {
      float: none;
      display: flex;
    }
    
    @mixin atMedium {
      display: flex;
    }
    
  }

  .flexbox &--equal-height-at-large {

    & > div {
      float: none;
      display: flex;
    }
    
    @mixin atLarge {
      display: flex;
    }
    
  }

}