.site-header {
  /* takes the site-header out of the normal flow of the page */
  position: absolute;
  /* makes the site-header occupy the whole width */
  width: 100%;
  /* equivalent to "bring to front" */
  /* no matter how high the z-index children elements, they can never get on top of the 2 declared here, see &__menu-icon with the z-index of 10 vs modal with 5  */
  z-index: 2;
  padding: 0.625rem 0;
  transition: background-color 0.3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }

  @mixin atMedium {
    position: fixed;
    /* not a valid rgba syntax, this used postcss-hexrgba */
    background-color: rgba($mainBlue, 0.3);

    &--dark {
      background-color: rgba($mainBlue, 0.85);
    }

  }

  &__btn-container {

    @mixin atMedium {
      float: right;
    }

  }

  &__logo {
    /* for small screens */
    position: absolute;
    top: 0;
    left: 50%; /* first, translates the logo to 50% of the vw */
    padding: 1.5625rem 2.25rem;
    transform: translateX(-50%) scale(0.8); /* then anchors the center of the logo */
    transition: transform 0.3s ease-out;
    transform-origin: 50% 0%;
    background-color: $mainBlue;

    @mixin atMedium {
      /* medium and larger screens will have the logo positioned to the left */
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(0.57);
      }

    }
  }

  &__logo__graphic {
    /* text is still technically there but no longer visible, 
    needs text for SEO */
    text-indent: -9999px;
  }

  &__menu-icon {
    /* press to pop out the nav menu */
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; /* this ensures it always stays on top of everything else when visible */
    
    &::before {
      /* before is referring to the site-header__menu-icon-middle */
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 0; /* fixes pivot to top left */
      transition: all 0.3s ease-out;
    }
    
    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 50%;
      transition: all 0.3s ease-out;
    }
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #fff;
      transform-origin: 0 100%; /* fixes pivot point to bottom right*/
      transition: all 0.3s ease-out;
    }

    &--close-x {
        
      &::before {
        transform: rotate(45deg) scaleX(1.25);
      }
      
      /* didn't expect na pwedeng i-brute force select ang higher level classes */
      .site-header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
      }
  
      &::after {
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }
  
    }

    @mixin atMedium {
      display: none; /* hides the icon at medium and larger screen */
    }
    
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    padding-top: 5.625rem;
    text-align: center;
    transition: all 0.3s ease-out;
    position: relative; /* z-index won't work without position relative */
    z-index: -10; /* brings menu-content all the way at the back when not visible */
    /* prevents accidental clicks/touches */
    
    @mixin atMedium {
      /* medium and larger screens don't need to hide the nav menu */
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      /* brings the menu up front when visible. */
      z-index: 1;
      opacity: 1;
      transform: scale(1);
    }

  }


}
/* bawal lagyan ng semicolon ang dulo ng containing rule */